.venv/

__pycache__/
*.py[cod]
*.pyo

*.log
*.swp
*.swo
*.bak
*.tmp
*.~ 

.env
*.env


.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml


*.wav
*.mp3
*.flac

*.exe
*.dll
*.so
*.out

/binary_models
/last_step_models