.venv/

__pycache__/
*.py[cod]
*.pyo

*.log
*.swp
*.swo
*.bak
*.tmp
*.~ 

.env
*.env


.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

music_samples/
data/
*.wav
*.mp3
*.flac

*.exe
*.dll
*.so
*.out
